Creatives
  each creative in inLine.creatives
    Creative(id=(creative.settings.id||undefined), sequence=(creative.settings.sequence||undefined), AdID=(creative.settings.AdID||undefined))
      if creative.linear
        - var linear = creative.linear;
        Linear
          Duration= linear.settings.Duration
          TrackingEvents
            each state, type in linear.trackingEvents.settings
              if state
                Tracking(event=type)=vastUrlHelper.getCreativeTrackingEventUrl(point,vast,creative,type.toLowerCase())

          if linear.settings.AdParameters
            AdParameters= linear.settings.AdParameters

          if linear.videoClicks
          videoclicks
              if linear.videoClicks.settings.ClickThrough
                ClickThrough=vastUrlHelper.getCreativeClickEventUrl(point,vast,creative,"clickthrough")
              if linear.videoClicks.settings.ClickThrough
                ClickTracking=vastUrlHelper.getCreativeClickEventUrl(point,vast,creative,"clicktracking")
              if linear.videoClicks.settings.CustomClick
                CustomClick=vastUrlHelper.getCreativeClickEventUrl(point,vast,creative,"customclick")
          MediaFiles
            each mediafile in linear.mediaFiles
              each mediaData in mediaFileHelper.getMediaDataFromVideo(mediafile.video, mediafile.types)
                - var delivery = mediafile.settings.delivery;
                MediaFile(delivery= delivery, type= mediaData.type, bitrate= mediaData.bit_rate, maintainAspectRatio= mediafile.settings.maintainAspectRatio, scalable= mediafile.settings.scalable, width= mediaData.width, height= mediaData.height)
                  = mediaFileHelper.getUrl(mediaData, delivery, vast)
