!!! xml
VAST(version='2.0', xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance', xsi:nonamespaceschemalocation='http://specs.adfox.ru/uploads/vast.xsd')
  Ad(id=(vast.settings.id||undefined))
    if vast.inLine
      - var inLine = vast.inLine;
      InLine
        AdSystem(version=(inLine.settings.version||undefined))= inLine.settings.AdSystem
        AdTitle= inLine.settings.AdTitle
        if inLine.settings.Description
          Description= inLine.settings.Description
        if inLine.settings.Survey
          Survey=vastUrlHelper.getVastEventUrl(point,vast,'survey')
        Error=vastUrlHelper.getVastEventUrl(point,vast,'error')
        Impression=vastUrlHelper.getVastEventUrl(point,vast,'impression')
        - var creatives = inLine.creatives
        include _creatives
        - var extensions = inLine.extensions
        include _extensions
    if vast.wrapper
      - var wrapper = vast.wrapper;
      Wrapper
        AdSystem(version=(wrapper.settings.version||undefined))= wrapper.settings.AdSystem
        Error=vastUrlHelper.getVastEventUrl(point,vast,'error')
        Impression=vastUrlHelper.getVastEventUrl(point,vast,'impression')
        VASTAdTagURI=vastUrlHelper.getVastUrl(point, wrapper.innerVast )
        - var creatives = wrapper.creatives
        include _creatives
        - var extensions = wrapper.extensions
        include _extensions
